In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("raw_data.csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          47 non-null float64
Administration     49 non-null float64
Marketing Spend    49 non-null float64
State              48 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [5]:
target = pd.DataFrame(data['Profit'])
data= data.drop(['Profit'], axis =1 )

In [6]:
#target

In [7]:
num = ['float64', 'int64','int32', 'float32']
cat = ['object']

data_num = data.select_dtypes(include = num)
data_cat = data.select_dtypes(include=cat)

In [8]:
data_num.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [9]:
data_cat.head()

        State
0    New York
1  California
2     Florida
3    New York
4     Florida

In [10]:
#preproces numerical dataframe : 

data_num = data_num.fillna(data_num.mean())

In [11]:
data_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
dtypes: float64(3)
memory usage: 1.2 KB

In [12]:
"""
data_num.max()
data_num.min()
data_num.mean()
data_num.median()
data_num.mode()
"""

'\ndata_num.max()\ndata_num.min()\ndata_num.mean()\ndata_num.median()\ndata_num.mode()\n'

In [13]:
data_num = (data_num - data_num.mean())/data_num.std()

In [14]:
data_num.head()

   R&D Spend  Administration  Marketing Spend
0   2.104620        0.553136         2.165287
1   2.040058        1.069997         1.929843
2   1.825214       -0.723051         1.626191
3   1.612413       -0.097445         1.417348
4   1.559264       -1.071215         1.273550

In [15]:
#preprocessing categorical dataframe : 
data_cat = data_cat.fillna(" ")

In [16]:
from sklearn.preprocessing import LabelEncoder as LE

In [17]:
le = LE()

In [18]:
data_cat_le = data_cat.apply(le.fit_transform)

In [19]:
data_cat_le.head()

   State
0      3
1      1
2      2
3      3
4      2

In [20]:
from sklearn.preprocessing import OneHotEncoder as OE

In [21]:
oe = OE()

In [22]:
data_cat_oe = oe.fit_transform(data_cat_le)

C:\Users\debic\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [23]:
data_cat_oe

<50x4 sparse matrix of type '<class 'numpy.float64'>'
	with 50 stored elements in Compressed Sparse Row format>

In [24]:
data_cat_final = pd.DataFrame(data_cat_oe.toarray(), dtype='int64')

In [25]:
data_cat_final.head()

   0  1  2  3
0  0  0  0  1
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  0  0  1  0

In [26]:
data_preprocessed = pd.concat([data_num, data_cat_final],axis=1)

In [27]:
data_preprocessed.head()

   R&D Spend  Administration  Marketing Spend  0  1  2  3
0   2.104620        0.553136         2.165287  0  0  0  1
1   2.040058        1.069997         1.929843  0  1  0  0
2   1.825214       -0.723051         1.626191  0  0  1  0
3   1.612413       -0.097445         1.417348  0  0  0  1
4   1.559264       -1.071215         1.273550  0  0  1  0

In [28]:
from sklearn.model_selection import train_test_split as tts

In [29]:
xtrain, xtest, ytrain, ytest = tts(data_preprocessed, target, test_size = 0.15, random_state = 34)